/** 
* Background Color Placeholders
*/ 

%bg-trans {
    background-color: map-get( $colors, trans ); 
}

%bg-primary {
    background-color: map-get( $colors, primary ); 	 
}

%bg-secondary {
    background-color: map-get( $colors, secondary ); 
}

%bg-dark {
    background-color: map-get( $colors, dark );
}

%bg-grey {
    background-color: map-get( $colors, grey );
}

%bg-light {
    background-color: map-get( $colors, light );
}

%bg-black {
    background-color: map-get( $colors, black );
}

%bg-white {
    background-color: map-get( $colors, white );
}

/** 
* Colors
*/ 

%color-trans {
    color: map-get( $colors, trans );
}

%color-primary {
    color: map-get( $colors, primary );
}

%color-secondary {
    color: map-get( $colors, secondary );
}

%color-dark {
    color: map-get( $colors, dark );
}

%color-grey {
    color: map-get( $colors, grey );
}

%color-light {
    color: map-get( $colors, light );
}

%color-black {
    color: map-get( $colors, black );
}

%color-white {
    color: map-get( $colors, white );
}