// Position
%pos {
    &--rel {
        position: relative;
    }

    &--abs {
        position: absolute;
    }

    &--fix {
        position: fixed;
    }

    &--sticky {
        position: sticky;
    }

    &--inh {
        position: inherit;
    }

    &--ini {
        position: initial;
    }

    &--uns {
        position: unset;
    }

    &--overlay {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}