$colors: (
    trans: transparent,
    primary: #005b96,
    secondary: #e6e6ea,
 
    white: #ffffff,
    light: #f4f4f8,

    black: #000000,
    dark: #2a363b,

    light-grey: #949a98,
    grey: #4a4e4d,
);