$color-trans: transparent !default;
$color-primary: #005b96 !default;
$color-secondary: #e6e6ea !default;

$color-white: #ffffff !default;
$color-light: #f4f4f8 !default;

$color-black: #000000 !default;
$color-dark: #2a363b !default;

$color-light-grey: #949a98 !default;
$color-grey: #4a4e4d !default;