%bg-trans {
    background-color: $color-trans; 
}

%bg-primary {
    background-color: $color-primary; 	 
}

%bg-secondary {
    background-color: $color-secondary; 
}

%bg-dark {
    background-color: $color-dark;
}

%bg-grey {
    background-color: $color-grey;
}

%bg-light {
    background-color: $color-light;
}

%bg-black {
    background-color: $color-black;
}

%bg-white {
    background-color: $color-white;
}

/** 
* Colors
*/ 

%color-trans {
    color: $color-trans;
}

%color-primary {
    color: $color-primary;
}

%color-secondary {
    color: $color-secondary; 
}

%color-dark {
    color: $color-dark;
}

%color-grey {
    color: $color-grey;
}

%color-light {
    color: $color-light;
}

%color-black {
    color: $color-black;
}

%color-white {
    color: $color-white;
}