%font {

    // Family
    &--primary {
        font-family: $fonts-primary;
    }

    &--secondary {
        font-family: $fonts-secondary;
    }

    // Weight
    &--w-light {
        font-weight: 300;
    }

    &--w-normal {
        font-weight: 400;
    }

    &--w-medium {
        font-weight: 500;
    }

    &--w-bold {
        font-weight: 700;
    }

    // style
    &--s-normal {
        font-style: normal;
    } 

    &--s-italic {
        font-style: italic;
    }

}